<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper
  PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
  "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.happytable.mapper.OperationsMapper">

<insert id="insert">
<![CDATA[
insert into tb_oper (resNum, openTime, endTime, adPaySel, adPay, adPayCond, breakTime, breakTime_start, breakTime_end, dayoff_cate, dayoff_weekCnt, dayoff_Day) values (#{resNum}, #{openTime}, #{endTime}, #{adPaySel}, #{adPay}, #{adPayCond}, #{breakTime}, #{breakTime_start}, #{breakTime_end}, #{dayoff_cate}, #{dayoff_weekCnt}, #{dayoff_Day}) 
]]>
</insert>

<select id="read" resultType="com.happytable.domain.OperationsVO">
<![CDATA[
select * from tb_oper where resNum = #{resNum}
]]>
</select>

<update id="update">
<![CDATA[
update tb_oper set openTime = #{openTime}, endTime = #{endTime}, adPaySel = #{adPaySel}, adPay = #{adPay}, adPayCond = #{adPayCond}, dayoff_cate = #{dayoff_cate}, dayoff_weekCnt = #{dayoff_weekCnt}, dayoff_Day = #{dayoff_Day}, breakTime = #{breakTime}, breakTime_start = #{breakTime_start}, breakTime_end = #{breakTime_end} where resNum = #{resNum} 
]]> 
</update>

<delete id="delete">
<![CDATA[
delete from tb_oper where resNum = #{resNum}
]]>
</delete>

<!-- 등록여부 확인 -->
<select id="checkOper" resultType="int">
<![CDATA[
select count(resNum) from tb_oper where resNum = #{resNum}
]]>
</select>

</mapper>