<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper
  PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
  "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.happytable.mapper.GuestAlrMapper">

	<select id="select" resultType="int">
<![CDATA[
 select count from tb_guest_alr where memUno = #{memUno}
]]>
	</select>

	<delete id="delete">
<![CDATA[
 delete from tb_guest_alr where memUno = #{memUno}
]]>
	</delete>
</mapper>