<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
  PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
  "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.happytable.mapper.MemberMapper">


	<insert id="insert">
		<selectKey keyProperty="mno" order="BEFORE"
			resultType="long">
			<![CDATA[
			select seq_member.nextval from dual
			]]>
		</selectKey> <!-- insert 전에 번호를 미리 만들어 놓음 -->
			<![CDATA[
			insert into tb_member (mno, name, phone, email, birth, nickName, pw, point)
			values(#{mno}, #{name}, #{phone}, #{email}, #{birth}, #{nickName}, #{pw}, 1000)
			]]>
	</insert>

	<select id="select" resultType="com.happytable.domain.MemberVO">
	<![CDATA[
		select * from tb_member where email = #{email} and pw = #{pw}
	]]>
	</select>

	<update id="update">
	<![CDATA[
		update tb_member set birth = #{birth}, phone = #{phone}, email = #{email}, nickName = #{nickName} where mno = #{mno}
	]]>
	</update>
	
	<update id="point"><!-- 예약 확정 시 포인트 추가 2024-09-30 조용재 추가-->
	<![CDATA[
		update tb_member set point = #{point} where memUno = #{memUno}
	]]>
	</update>

	<delete id="delete">
	<![CDATA[
		delete from tb_member where mno = #{mno}
	]]>
	</delete>

	<select id="allSelect"
		resultType="com.happytable.domain.MemberVO">
		select * from tb_member where mno > 0
	</select>

	<select id="read" resultType="com.happytable.domain.MemberVO">
		select * from tb_member where mno =
		#{mno}
	</select>

	<!-- 멤버 고유번호로 검색 쿼리문 2024/09/10 조용재 삽입 -->
	<select id="readMem" resultType="com.happytable.domain.MemberVO">
		select * from tb_member where MEMUNO = #{memUno}
	</select>


	<select id="checkEm" resultType="com.happytable.domain.MemberVO">
		select * from tb_member where
		email = #{email}
	</select>

	<select id="checkNn" resultType="com.happytable.domain.MemberVO">
		select * from tb_member where
		nickName = #{nickName}
	</select>

	<select id="findID" resultType="com.happytable.domain.MemberVO">
		select * from tb_member where
		name = #{name} and phone = #{phone}
	</select>

	<select id="findPW" resultType="com.happytable.domain.MemberVO">
		select * from tb_member where
		email = #{email} and name = #{name} and phone = #{phone}
	</select>

	<update id="updatePw" parameterType="map">
		update tb_member set pw = #{pw} where mno = #{mno}
	</update>

</mapper>